@model GiveCRM.Admin.Web.ViewModels.SignUp.RequiredInfoViewModel

@using (Html.BeginForm("SignUp", "SignUp", FormMethod.Post, new { @class = "form-signin" })) {

    <h2 class="form-signin-heading">Sign Up</h2>
    @Html.LabelFor(m => m.UserIdentifier, "Email Address")
    @Html.TextBoxFor(m => m.UserIdentifier, new { placeholder = "Email Address", @class = "input-block-level" })
    @Html.ValidationMessageFor(m => m.UserIdentifier)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "input-block-level" })
    @Html.ValidationMessageFor(m => m.Password)
    
    @Html.LabelFor(m => m.CharityName, "Charity Name")
    @Html.TextBoxFor(m => m.CharityName, new { placeholder = "Charity Name", @class = "input-block-level" })
    @Html.ValidationMessageFor(m => m.CharityName)

    <label class="checkbox">
        @Html.CheckBoxFor(m => m.TermsAccepted) Accept Terms and Conditions
    </label>
    @Html.ValidationMessageFor(m => m.TermsAccepted)

    <button type="submit" class="btn btn-large btn-primary">Sign Up</button>
}
<script language="javascript">
    $(document).ready(function () {
        $('.field-validation-error').parent().parent().addClass('error');
    });
</script>
