@model GiveCRM.Admin.Web.ViewModels.SignUp.Complete

@{
    ViewBag.Title = "GiveCRM - we're setting up your site";
}

<h2>Thanks, we're setting up your site</h2>

<h3>We'll email you when it's ready</h3>

<div class="row">
    <div class="span16">
    @using (Html.BeginForm("SignUp", "StoreAdditionalInfo")) {
        <div>
            <fieldset>
                <legend>While you're waiting, we need a little more information:</legend>

                <div>
                    @Html.LabelFor(m => m.AdditionalInfo.UserName, "Your Name")
                    <div class="input">
                        @Html.TextBoxFor(m => m.AdditionalInfo.UserName)
                        @Html.ValidationMessageFor(m => m.AdditionalInfo.UserName)
                    </div>
                </div>

                <div>
                    @Html.LabelFor(m => m.AdditionalInfo.RegisteredCharityNumber, "Registered Charity Number")
                    <div class="input">
                        @Html.TextBoxFor(m => m.AdditionalInfo.RegisteredCharityNumber)
                        @Html.ValidationMessageFor(m => m.AdditionalInfo.RegisteredCharityNumber)
                    </div>
                </div>

                <div>
                    @Html.LabelFor(m => m.AdditionalInfo.SubDomain, "Your Domain Name")
                    <div class="input">
                        http://
                        @Html.TextBoxFor(m => m.AdditionalInfo.SubDomain, new { @class = "span2" })
                        @Html.ValidationMessageFor(m => m.AdditionalInfo.SubDomain)
                        @Model.Configuration.BaseDomain
                    </div>
                </div>

                <div>
                    <input type="submit" value="Store" class="btn large primary" />
                </div>
            </fieldset>
        </div>
    }
    </div>

    <div class="span16">
        <div>
            <h4>To upload your customer list, we need the data in our format.</h4>
            <a href="@Model.Configuration.ExcelTemplatePath">Download the Excel template</a>
        </div>
    </div>
</div>
