@model GiveCRM.Admin.Web.ViewModels.SignUp.CompleteViewModel

@{
    ViewBag.Title = "GiveCRM - we're setting up your site";
}

<h2>Thanks, we're setting up your site and we'll email you when it's ready</h2>

<div class="row">
    <div class="span16">
        <h4>While you're waiting, we need a little more information:</h4>
    @using (Html.BeginForm("StoreAdditionalInfo", "SignUp")) {
        <div>
            <fieldset>
                <div class="clearfix">
                    @Html.LabelFor(m => m.UserName, "Your Name")
                    <div class="input">
                        @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>

                <div class="clearfix">
                    @Html.LabelFor(m => m.RegisteredCharityNumber, "Registered Charity Number")
                    <div class="input">
                        @Html.TextBoxFor(m => m.RegisteredCharityNumber)
                        @Html.ValidationMessageFor(m => m.RegisteredCharityNumber)
                    </div>
                </div>

                <div class="clearfix">
                    @Html.LabelFor(m => m.SubDomain, "Your Domain Name")
                    <div class="input">
                        http://
                        @Html.TextBoxFor(m => m.SubDomain, new { @class = "span3" })
                        .@Model.BaseDomain
                        @Html.ValidationMessageFor(m => m.SubDomain)
                    </div>
                </div>

                <div class="clearfix">
                    <div class="input">
                        <input type="submit" value="Store" class="btn large primary" />
                    </div>
                </div>
            </fieldset>
        </div>
    }
    </div>

    <div class="span16">
        <div>
            <h4>To upload your customer list, we need the data in our format.</h4>
            <a href="@Model.ExcelTemplatePath">Download the Excel template</a>
        </div>
    </div>
</div>
<script language="javascript">
    $(document).ready(function () {
        $('.field-validation-error').parent().parent().addClass('error');
    });
</script>
